# MongoDB Configuration
MONGODB_URL=mongodb+srv://ramanshtomar07_db_user:<aRoCpqjpyZPGtAtO>@cluster0.zwzwibn.mongodb.net/?appName=Cluster0
DATABASE_NAME=crud_app

# Server Configuration
PORT=8000
ENVIRONMENT=development
